.inner-coins-cont{
    min-height: 45vh;
}


.pagination{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 5px;
    margin-top: 2rem;
}

.pagination .previous-link, .pagination .next-link, .pagination .page-link{
  padding: 0.45rem 0.8rem;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  background: #334155;
}

.pagination .previous-link:hover, .pagination .next-link:hover, .pagination .page-link:hover{
    background: white;
    color: black;
}

.pagination .active-pagination{
    color: gold;
}

@media screen and (max-width: 640px) {
    .pagination{
        font-size: 1rem;
        gap: 3px;
        margin-top: 2rem;
    }
    
    .pagination .previous-link, .pagination .next-link, .pagination .page-link{
      padding: 0.35rem 0.7rem;
    }
}